#t1{
    display: flex;
    text-align: center;
    color: white;
}
#t1>#div1{
    background-color: green;
    width: 200px;
    height: 150px;
    margin-left: 50px;
    top: 100px;
    opacity: 0.5;
}
#t1>#div2{
    background-color: green;
    width: 200px;
    height: 150px;
    margin-left: 20px;
    top: 100px;
    opacity: 0.5;
}
#t1>#div3{
    background-color: green;
    width: 200px;
    height: 150px;
    margin-left: 20px;
    top: 100px;
    opacity: 0.5;
}
