ul{
    list-style-type: none;
    display: flex;
    justify-content:right;
    background-color: black;
    color: white;   
}
li{
    padding: 20px;
}
img{
    width: 1150px;
    height: 550px;
    position: fixed;
}
#t1>#div2{
    position: absolute;
    margin-left: 250px;
}