#t2{
    border: 2px solid;
    width: 300px;
    height: 150px;
    text-align: center;
}
#t2>#div1{
    background-color: darkslategray;
    color: white;
    height: 50px;
}
#t3{
    border: 2px solid;
    width: 300px;
    height: 150px;
    text-align: center;
}
#t3>#div1{
    background-color: darkslategray;
    color: white;
    height: 50px;
}
#t4{
    border: 2px solid;
    width: 300px;
    height: 150px;
    text-align: center;
}
#t4>#div1{
    background-color: darkslategray;
    color: white;
    height: 50px;
}
#t5{
    border: 2px solid;
    width: 300px;
    height: 150px;
    text-align: center;
}
#t5>#div1{
    background-color: darkslategray;
    color: white;
    height: 50px;
}
#t6{
    border: 2px solid;
    width: 300px;
    height: 150px;
    text-align: center;
}
#t6>#div1{
    background-color: darkslategray;
    color: white;
    height: 50px;
}
