#mn{
    color: hotpink;
    border-bottom:dotted 10px ;
}
h4{
    color: green;
}
ul{
    border: 2px solid black;
}
#n{
    color: greenyellow;
}
#m{
    color: crimson;
}
#r{
    font-style: oblique;
}