body{
  
    background-image:url(/assets/uploads/images/unnamed.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
    /* background-position:center; */
    /* background-size:contain; */

}